
/*global*/
html, body {
  padding: 0 !important; margin: 0 !important;
  width: auto !important; max-width: 100% !important;
}

pre#markdown {
  word-wrap: break-word;
  white-space: pre-wrap;
}

/*github theme*/
.markdown-body {
  overflow: auto;

  min-width: 888px;
  max-width: 888px;

  background-color: #fff;
  border: 1px solid #ddd;

  padding: 45px;
  margin: 20px auto;
}
.markdown-body #html>*:first-child {
  margin-top: 0 !important;
}
.markdown-body #html>*:last-child {
  margin-bottom: 0 !important;
}
.markdown-body img {
  background-color: transparent;
}

/*all other themes*/
.markdown-theme {
  max-width: 100% !important;
  padding: 20px !important;
  margin: 0 auto !important;
}
@media (max-width: 767px) {
  .markdown-theme { width: auto !important; }
}
@media (min-width: 768px) and (max-width: 992px) {
  .markdown-theme { width: 713px !important; }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .markdown-theme { width: 937px !important; }
}
@media (min-width: 1200px) {
  .markdown-theme { width: 1145px !important; }
}

/*toc*/
body {
  display: flex;
}
body._toc-left { padding-left: 300px !important; }
body._toc-right { padding-right: 300px !important; }
#_toc {
  position: fixed;
  top: 0; bottom: 0; left: 0;
  width: 300px;
  height: 100%;
  background: #fafafa;
  overflow-y: auto;
  overflow-x: hidden;
}
#_toc #_ul {
  padding: 0 0 0 20px !important;
  margin: 0 !important;
}
#_toc #_ul a {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #364149 !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: none !important;
  text-transform: none !important;
  letter-spacing: 0.2px !important;
  background: none !important;
  border: 0 !important;
  padding: 10px 15px !important;
  display: block !important;
}
#_toc #_ul a:hover {
  text-decoration: underline !important;
}
