
/*sticky footer*/
html, body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -52px;
}
footer, #footer-push {
  height: 20px;
  text-align: center;
}

/*center content on large screens*/
.mdl-layout__header-row,
.mdl-layout__content,
.mdl-mega-footer__bottom-section {
  max-width: 1200px;
  margin: 0 auto;
}
.mdl-layout__content {
  display: block;
}

/*header*/
.mdl-layout__header-row { padding: 0 20px; }

/*content*/
.mdl-layout__content { padding-bottom: 60px; }

/*footer*/
.mdl-mega-footer__bottom-section { padding: 0; }
.mdl-mega-footer__link-list { display: flex; justify-content: center; margin: 0 auto; }
.mdl-mega-footer__link-list li:last-child { margin: 0; }
.mdl-mega-footer__link-list li:nth-of-type(1) a:before { font-size: 17px; }
.mdl-mega-footer__link-list li:nth-of-type(2) a { position: relative; top: -2px; }
.mdl-mega-footer__link-list li:nth-of-type(2) a:before {
  font-size: 20px; position: relative; top: 1px;
}


/*markdown-viewer*/


/*form*/
select {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px; line-height: 17px;
  text-transform: uppercase;
  background-color: #ececec;
  border: none; border-radius: 2px;
  cursor: pointer;
  width: 110px; padding: 9px 12px;
}
.mdl-js-textfield:nth-of-type(1) {
  width: 400px;
  position: relative; top: 5px;
  padding: 0;
  margin: 0 10px;
}
.mdl-textfield:nth-of-type(1) .mdl-textfield__label:after { bottom: 0; }

/*table*/
.mdl-data-table {
  width: 100%;
}
.mdl-data-table tr {
  transition-duration: .28s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: background-color;
}
.mdl-data-table tr:hover { background: #eee; }
.mdl-data-table td { font-size: 16px; line-height: 17px; }
.mdl-data-table td:nth-of-type(1) { width: 5%; }
.mdl-data-table td:nth-of-type(2) { width: 20%; }
.mdl-data-table td:nth-of-type(3) { width: 70%; }
.mdl-data-table td:nth-of-type(4) { width: 5%; }
.mdl-data-table i { font-size: 10px; }
.mdl-data-table .mdl-textfield {
  width: 100%; color: #a9a9a9;
  position: relative; top: -1px;
  padding: 0;
}
.mdl-data-table .mdl-textfield.is-focused { color: #272727; }
.mdl-data-table .mdl-textfield__label:after { bottom: 0; }


/*file url*/
.bs-callout { background: #fcfcfc; }
.bs-callout img { display: block; margin-bottom: 20px; }
.bs-callout button { background: #d9534f; color: #fff; }
.bs-callout button:hover { background: #e57471; }

/*bootstrap callout*/
.bs-callout {
  padding: 20px;
  margin: 20px 0 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
