
/*sticky footer*/
html, body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -52px;
}
footer, #footer-push {
  height: 20px;
  text-align: center;
}

/*center content on large screens*/
.mdl-layout__header-row,
.mdl-layout__content,
.mdl-mega-footer__bottom-section {
  max-width: 1200px;
  margin: 0 auto;
}
.mdl-layout__content {
  display: block;
}

/*header*/
.mdl-layout__header-row { padding: 0 20px; }

/*footer*/
.mdl-mega-footer__bottom-section { padding: 0; }
.mdl-mega-footer__link-list { display: flex; justify-content: center; margin: 0 auto; }
.mdl-mega-footer__link-list li:last-child { margin: 0; }
.mdl-mega-footer__link-list li:nth-of-type(1) a:before { font-size: 17px; }
.mdl-mega-footer__link-list li:nth-of-type(2) a { position: relative; top: -2px; }
.mdl-mega-footer__link-list li:nth-of-type(2) a:before {
  font-size: 20px; position: relative; top: 1px;
}


/*markdown-viewer*/


/*form*/
.mdl-js-textfield:nth-of-type(1) {
  width: 400px;
  position: relative; top: 5px;
  padding: 0;
  margin: 0 10px 0 0;
}
.mdl-textfield:nth-of-type(1) .mdl-textfield__label:after { bottom: 0; }

/*table*/
.mdl-data-table {
  width: 100%;
}
.mdl-data-table tr {
  transition-duration: .28s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: background-color;
}
.mdl-data-table tr:hover { background: #eee; }
.mdl-data-table td { font-size: 16px; line-height: 17px; }
.mdl-data-table td:nth-of-type(1) { width: 20%; }
.mdl-data-table td:nth-of-type(2) { width: 75%; }
.mdl-data-table td:nth-of-type(3) { width: 5%; }
.mdl-data-table i { font-size: 10px; }
.mdl-data-table .mdl-textfield {
  width: 100%; color: #a9a9a9;
  position: relative; top: -1px;
  padding: 0;
}
.mdl-data-table .mdl-textfield.is-focused { color: #272727; }
.mdl-data-table .mdl-textfield__label:after { bottom: 0; }
