
/*sticky footer*/
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -52px;
}
footer, #footer-push {
  height: 20px;
  text-align: center;
}


/*center content on large screens*/
.mdc-toolbar__row,
main {
  max-width: 1200px;
  margin: 0 auto;
}


/*content*/
main { padding: 90px 0 30px 0; }
#options { letter-spacing: 0.2px; }


/*header*/
header .mdc-toolbar__title { margin: 0; }
header nav { float: right; margin: 0 !important; }
header nav a { min-width: auto !important; }


/*footer*/
footer {
  font-size: 14px;
  line-height: 20px;
  color: #9e9e9e;
  text-align: center;
  background: #424242;
  padding: 16px 40px;
}
footer a {
  color: #9e9e9e;
  text-decoration: none;
}
footer a:nth-of-type(1) { margin-right: 10px; }
footer a:nth-of-type(1):before { font-size: 17px; }
footer a:nth-of-type(2):before {
  font-size: 20px; position: relative; top: 1px;
}


/*custom scrollbars in WebKit*/
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-track-piece {
  background: #ececec;
  -webkit-border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background: #afbdc3;
  -webkit-border-radius: 8px;
  outline: 2px solid #333;
  outline-offset: -2px;
  border: 2px solid #ececec;
}
::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #607d8b;
  -webkit-border-radius: 8px;
}


/*bootstrap callout*/
.bs-callout {
  border: 1px solid #eee;
  border-left-width: 5px;
  border-left-color: #607d8b;
  border-radius: 3px;
  background: #fcfcfc;
  padding: 20px;
  margin: 0 0 30px 0;
}


/*button*/
.m-button {
  background-color: #ececec !important;
  color: #000 !important;
}
.m-button:before {
  background-color: rgba(96, 125, 139, 0.16) !important;
}
.m-button:after {
  background-color: rgba(96, 125, 139, 0.16) !important;
}


/*switch*/
.m-switch {
  cursor: pointer;
  margin: 7px 0;
}
.m-switch:last-child {
  margin-bottom: 16px;
}
.m-switch .mdc-switch__background {
  display: inline-block;
  bottom: 5px;
  left: 15px;
}
.m-switch .mdc-switch-label {
  font-size: 1rem;
  line-height: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  padding: 0 0 0 30px;
}
.m-switch .mdc-switch-label code {
  font-size: 16px;
}


/*select*/
.m-select {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  background-color: #ececec;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 9px 12px;
}


/*textfield*/
.m-textfield {
  font-size: 1rem;
  line-height: 1.5rem;
  height: auto;
  margin: 0;
}


/*list*/
.m-list {
  list-style: none;
  clear: both;
  background: #fff;
  padding: 0;
  margin: 0;
}
.m-list li {
  transition-duration: .28s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: background-color box-shadow;
  height: auto;
  min-height: 36px;
  border-bottom: 1px solid #ececec;
  padding: 10px 20px;
}
.m-list li:last-child { border: 0; }
.m-list li:hover { background: #eee; }
.m-list li:after { content: ''; display: block; clear: both; }
.m-list li > * { display: inline-block; }
.m-list li span {
  font-size: 1rem;
  line-height: 36px;
}
.m-list .m-textfield input { color: #a9a9a9; }
.m-list .m-textfield input:focus { color: #1b1b1b; }
.m-list button {
  transition-duration: .28s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: background-color;
  min-width: auto;
  padding: 0 9px;
  border-radius: 50%;
}
.m-list button:hover { background: #cacaca; }


/*file access*/
.m-file h4 {
  margin: 0 0 16px 0;
}
.m-file img {
  display: block;
  margin-bottom: 20px;
}


/*allowed origins*/
.m-origins h4 {
  line-height: 36px;
  float: left;
  padding: 0 100px 0 0;
  margin: 0 !important;
}
.m-origins > .m-textfield:first-of-type {
  width: 400px;
  margin: 0 10px !important;
}
.m-origins button:nth-of-type(2) { float: right; }
.m-origins .m-select { width: 110px; }
.m-origins .m-switch {
  margin: 20px 0 20px 0;
}
.m-origins .m-list {
  clear: both;
}
.m-origins .m-list li > * { overflow: hidden; text-overflow: ellipsis; }
.m-origins .m-list li > *:nth-child(1) { width: 7%; }
.m-origins .m-list li > *:nth-child(2) { width: 22%; }
.m-origins .m-list li > *:nth-child(3) { width: 62%; }
.m-origins .m-list li > *:nth-child(4) { width: 9%; text-align: right; }
