
#popup { width: 350px; padding: 20px; -webkit-user-select: none; }
#popup:after { content: ''; display: block; clear: both; }

h4 { cursor: default; }
h4:nth-of-type(1) { margin-bottom: 5px; }
h4:nth-of-type(2) { margin-bottom: -5px; }

select {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px; line-height: 17px;
  text-transform: uppercase;
  background-color: #ececec;
  border: none; border-radius: 2px;
  cursor: pointer;
  width: 350px; padding: 9px 12px;
}

button:nth-child(2) { float: right; }
button:nth-child(2n+3) { float: right; }
