
<link rel="stylesheet" type="text/css" href="#" />

<div class="container">

    <div class="repository-with-sidebar repo-container with-full-navigation">
        <div class="repository-content context-loader-container">

            <section id="readme" class="clearfix announce instapaper_body md">
                <article class="markdown-body entry-content" itemprop="mainContentOfPage">
{{{content}}}
                </article>
            </section>
            
        </div>
    </div>

</div>
