
/*---------------------------------------------------------------------------*/
/*global*/

html, body {
  padding: 0 !important; margin: 0 !important;
  width: auto !important; max-width: 100% !important;
}

details summary {
  cursor: pointer;
}

/*---------------------------------------------------------------------------*/
/*print*/

@media print {
  /*avoid page breaks immediately after these tags*/
  h1, h2, h3, h4 {
    break-after: avoid;
  }
  /*avoid page breaks within these tags*/
  pre, blockquote, summary, table, math, svg {
    break-inside: avoid;
  }
  /*hide sidebar*/
  html body._toc-left { padding-left: 0px !important; }
  html body._toc-right { padding-right: 0px !important; }
  #_toc { display: none; }
  /*fix github themes auto*/
  body._theme-github .markdown-body { border: 0; padding: 20px; }
  body._theme-github-dark .markdown-body { border: 0; padding: 20px; }
  /*wrap long code lines*/
  pre, pre code, pre[class*=language-], code[class*=language-]
  {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
}

/*---------------------------------------------------------------------------*/
/*raw markdown view*/

pre#_markdown {
  word-wrap: break-word;
  white-space: pre-wrap;
}

/*---------------------------------------------------------------------------*/
/*github theme*/

.markdown-body {
  overflow: auto;

  min-width: 830px;
  max-width: 830px;

  padding: 32px;
  margin: 20px auto !important;
}
.markdown-body #_html>*:first-child {
  margin-top: 0 !important;
}
.markdown-body #_html>*:last-child {
  margin-bottom: 0 !important;
}
.markdown-body img {
  background-color: transparent;
}

/*---------------------------------------------------------------------------*/
/*all other themes*/

.markdown-theme {
  box-sizing: border-box;
  max-width: 100% !important;
  padding: 20px !important;
  margin: 0 auto !important;
}
.markdown-theme pre,
.markdown-theme pre code {
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
}

@media (max-width: 576px) { /*Extra small - none*/
  .markdown-theme { width: auto !important; }
}
@media (min-width: 576px) and (max-width: 768px) { /*Small sm*/
  .markdown-theme { width: 576px !important; }
}
@media (min-width: 768px) and (max-width: 992px) { /*Medium md*/
  .markdown-theme { width: 768px !important; }
}
@media (min-width: 992px) and (max-width: 1200px) { /*Large lg*/
  .markdown-theme { width: 992px !important; }
}
@media (min-width: 1200px) and (max-width: 1400px) { /*Extra large xl*/
  .markdown-theme { width: 1200px !important; }
}
@media (min-width: 1400px) { /*Extra extra large xxl*/
  .markdown-theme { width: 1400px !important; }
}

._width-full,
._width-wide,
._width-large,
._width-medium,
._width-small,
._width-tiny {
  box-sizing: border-box;
  border: none !important;
  padding: 20px !important;
  min-width: auto !important;
  max-width: none !important;
}

._width-full {
  width: 100% !important;
  margin: 0 !important;
}
._width-wide {
  width: 1400px !important;
}
._width-large {
  width: 1200px !important;
}
._width-medium {
  width: 992px !important;
}
._width-small {
  width: 768px !important;
}
._width-tiny {
  width: 576px !important;
}

/*---------------------------------------------------------------------------*/
/*toc*/

@media (prefers-color-scheme: light) {
  body {
    --toc-link: #0969da;
    --toc-delimiter: #e1e4e8;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    --toc-link: #58a6ff;
    --toc-delimiter: #30363d;
  }
}
body {
  display: flex;
}
body._toc-left { padding-left: 300px !important; }
body._toc-right { padding-right: 300px !important; }
#_toc {
  position: fixed;
  top: 0; bottom: 0; left: 0;
  width: 299px;
  height: 100%;
  border-right: 1px solid var(--toc-delimiter);
  overflow-y: auto;
  overflow-x: hidden;
}
#_toc ._ul {
  padding-left: 20px !important;
  margin: 0 !important;
}
#_toc > ._ul {
  padding: 0 0 0 10px !important;
}
#_toc > ._ul:first-child {
  padding-top: 15px !important;
}
#_toc > ._ul:last-child {
  padding-bottom: 15px !important;
}
#_toc ._ul a {
  border: 0 !important;
  padding: 5px 10px !important;
  display: block !important;
}

/*light*/
._theme-github #_toc,
._theme-air #_toc,
._theme-almond #_toc,
._theme-awsm #_toc,
._theme-axist #_toc,
._theme-bullframe #_toc,
._theme-kacit #_toc,
._theme-latex #_toc,
._theme-marx #_toc,
._theme-mini #_toc,
._theme-modest #_toc,
._theme-sakura #_toc,
._theme-semantic #_toc,
._theme-splendor #_toc,
._theme-style-sans #_toc,
._theme-style-serif #_toc,
._theme-stylize #_toc,
._theme-tacit #_toc,
._theme-water #_toc,
._theme-writ #_toc {
  border-right: 1px solid #e1e4e8;
}

/*dark*/
._theme-github-dark #_toc,
._theme-retro #_toc,
._theme-sakura-vader #_toc,
._theme-water-dark #_toc {
  border-right: 1px solid #30363d;
}

/*github*/
._theme-github #_toc { /*.markdown-body {*/
  background-color: var(--color-canvas-default);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
._theme-github #_toc a { /*.markdown-body a {*/
  background-color: transparent;
  color: var(--toc-link);
  text-decoration: none;
}
._theme-github #_toc a:hover {
  text-decoration: underline;
}

/*github-dark*/
._theme-github-dark #_toc { /*.markdown-body {*/
  background-color: #0d1117;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
._theme-github-dark #_toc a { /*.markdown-body a {*/
  background-color: transparent;
  color: #58a6ff;
  text-decoration: none;
}
._theme-github-dark #_toc a:hover {
  text-decoration: underline;
}

/*---------------------------------------------------------------------------*/
/*scrollbar*/

/*auto*/
@media (prefers-color-scheme: light) {
  body {
    --scrollbar-track: #efefef;
    --scrollbar-thumb: #d5d5d5;
    --scrollbar-thumb-hover: #c4c4c4;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    --scrollbar-track: #424242;
    --scrollbar-thumb: #686868;
    --scrollbar-thumb-hover: #7b7b7b;
  }
}
::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

/*light*/
._theme-github::-webkit-scrollbar-track, ._theme-github *::-webkit-scrollbar-track,
._theme-air::-webkit-scrollbar-track, ._theme-air *::-webkit-scrollbar-track,
._theme-almond::-webkit-scrollbar-track, ._theme-almond *::-webkit-scrollbar-track,
._theme-awsm::-webkit-scrollbar-track, ._theme-awsm *::-webkit-scrollbar-track,
._theme-axist::-webkit-scrollbar-track, ._theme-axist *::-webkit-scrollbar-track,
._theme-bullframe::-webkit-scrollbar-track, ._theme-bullframe *::-webkit-scrollbar-track,
._theme-kacit::-webkit-scrollbar-track, ._theme-kacit *::-webkit-scrollbar-track,
._theme-latex::-webkit-scrollbar-track, ._theme-latex *::-webkit-scrollbar-track,
._theme-marx::-webkit-scrollbar-track, ._theme-marx *::-webkit-scrollbar-track,
._theme-mini::-webkit-scrollbar-track, ._theme-mini *::-webkit-scrollbar-track,
._theme-modest::-webkit-scrollbar-track, ._theme-modest *::-webkit-scrollbar-track,
._theme-sakura::-webkit-scrollbar-track, ._theme-sakura *::-webkit-scrollbar-track,
._theme-semantic::-webkit-scrollbar-track, ._theme-semantic *::-webkit-scrollbar-track,
._theme-splendor::-webkit-scrollbar-track, ._theme-splendor *::-webkit-scrollbar-track,
._theme-style-sans::-webkit-scrollbar-track, ._theme-style-sans *::-webkit-scrollbar-track,
._theme-style-serif::-webkit-scrollbar-track, ._theme-style-serif *::-webkit-scrollbar-track,
._theme-stylize::-webkit-scrollbar-track, ._theme-stylize *::-webkit-scrollbar-track,
._theme-tacit::-webkit-scrollbar-track, ._theme-tacit *::-webkit-scrollbar-track,
._theme-water::-webkit-scrollbar-track, ._theme-water *::-webkit-scrollbar-track,
._theme-writ::-webkit-scrollbar-track, ._theme-writ *::-webkit-scrollbar-track
{
  background: #efefef;
}
._theme-github::-webkit-scrollbar-thumb, ._theme-github *::-webkit-scrollbar-thumb,
._theme-air::-webkit-scrollbar-thumb, ._theme-air *::-webkit-scrollbar-thumb,
._theme-almond::-webkit-scrollbar-thumb, ._theme-almond *::-webkit-scrollbar-thumb,
._theme-awsm::-webkit-scrollbar-thumb, ._theme-awsm *::-webkit-scrollbar-thumb,
._theme-axist::-webkit-scrollbar-thumb, ._theme-axist *::-webkit-scrollbar-thumb,
._theme-bullframe::-webkit-scrollbar-thumb, ._theme-bullframe *::-webkit-scrollbar-thumb,
._theme-kacit::-webkit-scrollbar-thumb, ._theme-kacit *::-webkit-scrollbar-thumb,
._theme-latex::-webkit-scrollbar-thumb, ._theme-latex *::-webkit-scrollbar-thumb,
._theme-marx::-webkit-scrollbar-thumb, ._theme-marx *::-webkit-scrollbar-thumb,
._theme-mini::-webkit-scrollbar-thumb, ._theme-mini *::-webkit-scrollbar-thumb,
._theme-modest::-webkit-scrollbar-thumb, ._theme-modest *::-webkit-scrollbar-thumb,
._theme-sakura::-webkit-scrollbar-thumb, ._theme-sakura *::-webkit-scrollbar-thumb,
._theme-semantic::-webkit-scrollbar-thumb, ._theme-semantic *::-webkit-scrollbar-thumb,
._theme-splendor::-webkit-scrollbar-thumb, ._theme-splendor *::-webkit-scrollbar-thumb,
._theme-style-sans::-webkit-scrollbar-thumb, ._theme-style-sans *::-webkit-scrollbar-thumb,
._theme-style-serif::-webkit-scrollbar-thumb, ._theme-style-serif *::-webkit-scrollbar-thumb,
._theme-stylize::-webkit-scrollbar-thumb, ._theme-stylize *::-webkit-scrollbar-thumb,
._theme-tacit::-webkit-scrollbar-thumb, ._theme-tacit *::-webkit-scrollbar-thumb,
._theme-water::-webkit-scrollbar-thumb, ._theme-water *::-webkit-scrollbar-thumb,
._theme-writ::-webkit-scrollbar-thumb, ._theme-writ *::-webkit-scrollbar-thumb
{
  background: #d5d5d5;
}
._theme-github::-webkit-scrollbar-thumb:hover, ._theme-github *::-webkit-scrollbar-thumb:hover,
._theme-air::-webkit-scrollbar-thumb:hover, ._theme-air *::-webkit-scrollbar-thumb:hover,
._theme-almond::-webkit-scrollbar-thumb:hover, ._theme-almond *::-webkit-scrollbar-thumb:hover,
._theme-awsm::-webkit-scrollbar-thumb:hover, ._theme-awsm *::-webkit-scrollbar-thumb:hover,
._theme-axist::-webkit-scrollbar-thumb:hover, ._theme-axist *::-webkit-scrollbar-thumb:hover,
._theme-bullframe::-webkit-scrollbar-thumb:hover, ._theme-bullframe *::-webkit-scrollbar-thumb:hover,
._theme-kacit::-webkit-scrollbar-thumb:hover, ._theme-kacit *::-webkit-scrollbar-thumb:hover,
._theme-latex::-webkit-scrollbar-thumb:hover, ._theme-latex *::-webkit-scrollbar-thumb:hover,
._theme-marx::-webkit-scrollbar-thumb:hover, ._theme-marx *::-webkit-scrollbar-thumb:hover,
._theme-mini::-webkit-scrollbar-thumb:hover, ._theme-mini *::-webkit-scrollbar-thumb:hover,
._theme-modest::-webkit-scrollbar-thumb:hover, ._theme-modest *::-webkit-scrollbar-thumb:hover,
._theme-sakura::-webkit-scrollbar-thumb:hover, ._theme-sakura *::-webkit-scrollbar-thumb:hover,
._theme-semantic::-webkit-scrollbar-thumb:hover, ._theme-semantic *::-webkit-scrollbar-thumb:hover,
._theme-splendor::-webkit-scrollbar-thumb:hover, ._theme-semantic *::-webkit-scrollbar-thumb:hover,
._theme-style-sans::-webkit-scrollbar-thumb:hover, ._theme-style-sans *::-webkit-scrollbar-thumb:hover,
._theme-style-serif::-webkit-scrollbar-thumb:hover, ._theme-style-serif *::-webkit-scrollbar-thumb:hover,
._theme-stylize::-webkit-scrollbar-thumb:hover, ._theme-stylize *::-webkit-scrollbar-thumb:hover,
._theme-tacit::-webkit-scrollbar-thumb:hover, ._theme-tacit *::-webkit-scrollbar-thumb:hover,
._theme-water::-webkit-scrollbar-thumb:hover, ._theme-water *::-webkit-scrollbar-thumb:hover,
._theme-writ::-webkit-scrollbar-thumb:hover, ._theme-writ *::-webkit-scrollbar-thumb:hover
{
  background: #c4c4c4;
}

/*dark*/
._theme-github-dark::-webkit-scrollbar-track, ._theme-github-dark *::-webkit-scrollbar-track,
._theme-retro::-webkit-scrollbar-track, ._theme-retro *::-webkit-scrollbar-track,
._theme-sakura-vader::-webkit-scrollbar-track, ._theme-sakura-vader *::-webkit-scrollbar-track
{
  background: #424242;
}
._theme-github-dark::-webkit-scrollbar-thumb, ._theme-github-dark *::-webkit-scrollbar-thumb,
._theme-retro::-webkit-scrollbar-thumb, ._theme-retro *::-webkit-scrollbar-thumb,
._theme-sakura-vader::-webkit-scrollbar-thumb, ._theme-sakura-vader *::-webkit-scrollbar-thumb
{
  background: #686868;
}
._theme-github-dark::-webkit-scrollbar-thumb:hover, ._theme-github-dark *::-webkit-scrollbar-thumb:hover,
._theme-retro::-webkit-scrollbar-thumb:hover, ._theme-retro *::-webkit-scrollbar-thumb:hover,
._theme-sakura-vader::-webkit-scrollbar-thumb:hover, ._theme-sakura-vader *::-webkit-scrollbar-thumb:hover
{
  background: #7b7b7b;
}

/*---------------------------------------------------------------------------*/
/*anchor link*/

/*github theme styles follows*/
.markdown-theme .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
  overflow: visible !important;
}

.markdown-theme .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.markdown-theme .anchor:focus {
  outline: none;
}

.markdown-theme h1:hover .anchor .octicon-link:before,
.markdown-theme h2:hover .anchor .octicon-link:before,
.markdown-theme h3:hover .anchor .octicon-link:before,
.markdown-theme h4:hover .anchor .octicon-link:before,
.markdown-theme h5:hover .anchor .octicon-link:before,
.markdown-theme h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown-theme h1 .octicon-link,
.markdown-theme h2 .octicon-link,
.markdown-theme h3 .octicon-link,
.markdown-theme h4 .octicon-link,
.markdown-theme h5 .octicon-link,
.markdown-theme h6 .octicon-link {
  vertical-align: middle;
  visibility: hidden;
}

.markdown-theme h1:hover .anchor,
.markdown-theme h2:hover .anchor,
.markdown-theme h3:hover .anchor,
.markdown-theme h4:hover .anchor,
.markdown-theme h5:hover .anchor,
.markdown-theme h6:hover .anchor {
  text-decoration: none;
}

.markdown-theme h1:hover .anchor .octicon-link,
.markdown-theme h2:hover .anchor .octicon-link,
.markdown-theme h3:hover .anchor .octicon-link,
.markdown-theme h4:hover .anchor .octicon-link,
.markdown-theme h5:hover .anchor .octicon-link,
.markdown-theme h6:hover .anchor .octicon-link {
  visibility: visible;
}

/*auto*/
@media (prefers-color-scheme: light) {
  .markdown-theme {
    --anchor: #24292f;
  }
}
@media (prefers-color-scheme: dark) {
  .markdown-theme {
    --anchor: #c9d1d9;
  }
}
.markdown-theme .octicon-link {
  color: var(--anchor);
}

/*light*/
._theme-almond .octicon-link,
._theme-awsm .octicon-link,
._theme-axist .octicon-link,
._theme-bullframe .octicon-link,
._theme-kacit .octicon-link,
._theme-latex .octicon-link,
._theme-mini .octicon-link,
._theme-sakura .octicon-link,
._theme-style-sans .octicon-link,
._theme-style-serif .octicon-link,
._theme-tacit .octicon-link,
._theme-water .octicon-link {
  color: #24292f;
}

/*dark*/
._theme-github-dark .octicon-link,
._theme-retro .octicon-link,
._theme-sakura-vader .octicon-link,
._theme-water-dark .octicon-link {
  color: #c9d1d9;
}

/*fix hover*/
.markdown-theme .anchor {
  border-bottom: 0;
}

/*fix position*/
._theme-almond .octicon,
._theme-awsm .octicon,
._theme-axist .octicon,
._theme-kacit .octicon,
._theme-mini .octicon,
._theme-new .octicon,
._theme-sakura .octicon,
._theme-sakura-vader .octicon,
._theme-semantic .octicon,
._theme-simple .octicon,
._theme-stylize .octicon,
._theme-superstylin .octicon {
  line-height: 1px;
}
._theme-splendor .anchor,
._theme-splendor .octicon {
  padding: 0 !important;
  margin: 0 0 0 -10px !important;
}
._theme-splendor h3 .octicon,
._theme-splendor h4 .octicon,
._theme-splendor h5 .octicon,
._theme-splendor h6 .octicon
{
  position: relative;
  top: 4px;
}
._theme-no-class h1 .octicon,
._theme-no-class h2 .octicon,
._theme-no-class h3 .octicon {
  position: relative;
  top: -5px;
}
._theme-pico h1 .octicon,
._theme-pico h2 .octicon {
  position: relative;
  top: 5px;
}
._theme-superstylin h1 .octicon {
  position: relative;
  top: -5px;
}
._theme-writ .octicon {
  line-height: 0;
}
._theme-writ h2 .octicon {
  position: relative;
  top: 4px;
}
._theme-writ h3 .octicon {
  position: relative;
  top: 10px;
}

/*---------------------------------------------------------------------------*/
/*task list checkboxes*/

._theme-awsm input[type=checkbox],
._theme-kacit input[type=checkbox],
._theme-no-class input[type=checkbox],
._theme-semantic input[type=checkbox],
._theme-tacit input[type=checkbox],
._theme-vanilla input[type=checkbox] {
  display: inline-block !important;
  box-sizing: border-box !important;
  padding: 0 !important;
  margin: 0 !important;
}
._theme-bullframe input[type=checkbox],
._theme-superstylin input[type=checkbox] {
  position: relative;
  top: 3px;
}
._theme-mini input[type=checkbox] {
  position: relative;
  top: 4px;
}
._theme-no-class input[type=checkbox] {
  width: auto !important;
}
._theme-vanilla input[type=checkbox] {
  appearance: auto !important;
}

/*---------------------------------------------------------------------------*/
/*fix auto dark*/

/*set default background color*/
._theme-air,
._theme-marx,
._theme-modest,
._theme-splendor,
._theme-stylize,
._theme-writ {
  background-color: #fff;
}

/*set default text and link color*/
._theme-semantic { color: #000; }
._theme-semantic a { color: #0000ff; }
._theme-semantic a:visited { color: #800080; }
._theme-semantic a:active { color: #ff0000; }

/*---------------------------------------------------------------------------*/
/*theme fixes*/

@media (prefers-color-scheme: dark) {
  /*no-class - fix code block*/
  ._theme-no-class pre {
    background: #303030;
  }
  /*no-class - fix table*/
  ._theme-no-class tbody tr:nth-of-type(odd) {
    background-color: #303030;
  }
}

/*github*/
._theme-github {
  background-color: #fff;
}
._theme-github .markdown-body {
  border: 1px solid #e1e4e8;
}

/*github-dark*/
._theme-github-dark {
  background-color: #0d1117;
}
._theme-github-dark .markdown-body {
  border: 1px solid #30363d;
}
._theme-github-dark #_markdown {
  background-color: #fff;
}

/*markdown-air - fix images*/
._theme-air img {
  border-radius: 0;
  width: auto;
  height: auto;
}

/*axist - fix lists*/
._theme-axist ul li p {
  display: inline-block;
}
/*axist - fix fenced code blocks*/
._theme-axist pre::after {
  content: none;
}

/*kacit, tacit - fix mermaid diagrams size*/
._theme-kacit pre code,
._theme-tacit pre code {
  display: block;
}

/*mini - fix table*/
._theme-mini table {
  overflow-x: clip !important;
  max-height: none !important;
}
/*mini - fix special symbols*/
._theme-mini blockquote::before {
  content: "“";
}
._theme-mini [type=checkbox]:checked:before {
  content: "✓";
  top: -3px;
}

/*simple - fix body width*/
._theme-simple {
  display: block;
}

/*style-sans, style-serif - fix inline code*/
._theme-style-sans *:not(pre) > code::before,
._theme-style-sans *:not(pre) > code::after,
._theme-style-serif *:not(pre) > code::before,
._theme-style-serif *:not(pre) > code::after {
  content: '';
  padding-left: 5px;
  padding-right: 5px;
}

/*superstylin - fix lists*/
._theme-superstylin ul ul,
._theme-superstylin ol ol {
  padding-left: 40px;
}
._theme-superstylin ul li p,
._theme-superstylin ol li p {
  display: inline-block;
  margin-bottom: 0;
}

/*vanilla - fix pre margin*/
._theme-vanilla pre {
  margin-bottom: 10px;
}

/*---------------------------------------------------------------------------*/
/*misc*/

/*mermaid text bold effect*/
svg[id^=mermaid] text {
  stroke: none !important;
}

/*emojione*/
.emojione {
  /* Emoji Sizing */
  font-size: inherit;
  height: 3ex;
  width: 3.1ex;
  min-height: 20px;
  min-width: 20px;

  /* Inline alignment adjust the margins  */
  display: inline-block;
  margin: -.2ex .15em .2ex;
  line-height: normal;
  vertical-align: middle;
}
img.emojione {
  /* prevent img stretch */
  width: auto;
}
